# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=glamira

# Webshare Proxy
WEBSHARE_USER=your_proxy_username
WEBSHARE_PASS=your_proxy_password

# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=glamira-raw-data
GCP_ZONE=asia-southeast1-b
VM_NAME=glamira-vm
